---
http_interactions:
- request:
    method: get
    uri: https://api.actionnetwork.com/web/v1/sharpreport/ncaaf?bookIds=15&week=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6InU9NzM1ODI2dD0xNTY5NzAwNTkyODcxIiwidXNlcl9pZCI6NzM1ODI2LCJleHBlcnRfaWQiOm51bGwsImlzcyI6InNwb3J0c0FjdGlvbiIsImFnZW50IjoiTW96aWxsYS81LjAgKE1hY2ludG9zaDsgSW50ZWwgTWFjIE9TIFggMTBfMTRfNSkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzc3LjAuMzg2NS45MCBTYWZhcmkvNTM3LjM2IiwiaXNSZXNldFRva2VuIjpmYWxzZSwiaXNTZXNzaW9uVG9rZW4iOmZhbHNlLCJzY29wZSI6W10sImV4cCI6MTYwMTIzNjU5MiwiaWF0IjoxNTY5NzAwNTkyfQ.9L1a7DQzvaPue4bPCxeTFb2I9ueh7l0wowO4zzO5bHc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"games":[{"id":68481,"status":"complete","status_display":"Final","start_time":"2019-08-24T23:00:00.000Z","away_team_id":263,"home_team_id":370,"winning_team_id":370,"league_name":"ncaaf","type":"reg","season":2019,"attendance":66543,"coverage":"full","is_free":true,"trending":false,"away_rotation_number":292,"home_rotation_number":291,"teams":[{"id":263,"full_name":"Miami
        (FL) Hurricanes","display_name":"Miami (FL)","short_name":"Hurricanes","location":"Miami
        (FL)","abbr":"MIA","logo":"https://static.sprtactn.co/teamlogos/ncaaf/100/mfl.png","primary_color":"005030","secondary_color":"f47321","conference_type":"ACC","division_type":"FBS","standings":{"win":2,"loss":2,"ties":null,"overtime_losses":null,"draw":0}},{"id":370,"full_name":"Florida
        Gators","display_name":"Florida","short_name":"Gators","location":"Florida","abbr":"FLA","logo":"https://static.sprtactn.co/teamlogos/ncaaf/100/fla.png","primary_color":"003087","secondary_color":"ff5113","conference_type":"SEC","division_type":"FBS","standings":{"win":5,"loss":0,"ties":null,"overtime_losses":null,"draw":0}}],"last_play":{"text":"End
        of Game","type":"game_over","clock":"0:00","possession":370,"home_win_pct":null,"over_win_pct":null,"home_spread_win_pct":null},"boxscore":{"clock":"00:00","period":4,"linescore":[{"id":1,"abbr":"1","display_name":"1st","full_name":"1st
        Quarter","away_points":3,"home_points":7},{"id":2,"abbr":"2","display_name":"2nd","full_name":"2nd
        Quarter","away_points":10,"home_points":0},{"id":3,"abbr":"3","display_name":"3rd","full_name":"3rd
        Quarter","away_points":0,"home_points":10},{"id":4,"abbr":"4","display_name":"4th","full_name":"4th
        Quarter","away_points":7,"home_points":7}],"situation":{"down":2,"distance":12,"yardline":24,"is_redzone":false,"possession":370,"yardline_text":"FLA
        24","start_yardline":26,"yards_to_endzone":76,"display":"2nd & 12 @ FLA 24","display_short":"2nd
        & 12"},"away_timeouts":2,"home_timeouts":2,"total_away_points":20,"total_home_points":24,"total_away_firsthalf_points":13,"total_home_firsthalf_points":7,"total_away_secondhalf_points":7,"total_home_secondhalf_points":17},"odds":[{"ml_away":250,"ml_home":-300,"spread_away":7,"spread_home":-7,"spread_away_line":100,"spread_home_line":-120,"over":-109,"under":-111,"draw":null,"total":46.5,"away_total":20,"away_over":-102,"away_under":-128,"home_total":27,"home_over":-114,"home_under":-126,"ml_home_public":59,"ml_away_public":41,"spread_home_public":61,"spread_away_public":39,"total_under_public":63,"total_over_public":37,"ml_home_money":68,"ml_away_money":32,"spread_home_money":65,"spread_away_money":35,"total_over_money":26,"total_under_money":74,"num_bets":52114,"book_id":15,"type":"game","inserted":"2019-08-24T23:12:11.606582+00:00"},{"ml_away":196,"ml_home":-241,"spread_away":4,"spread_home":-4,"spread_away_line":-110,"spread_home_line":-110,"over":-110,"under":-110,"draw":null,"total":21.5,"away_total":null,"away_over":null,"away_under":null,"home_total":null,"home_over":null,"home_under":null,"ml_home_public":36,"ml_away_public":64,"spread_home_public":76,"spread_away_public":24,"total_under_public":61,"total_over_public":39,"ml_home_money":null,"ml_away_money":null,"spread_home_money":[...]
