---
http_interactions:
- request:
    method: get
    uri: https://api.actionnetwork.com/web/v1/sharpreport/mlb?bookIds=15
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6InU9NzM1ODI2dD0xNTY5NzAwNTkyODcxIiwidXNlcl9pZCI6NzM1ODI2LCJleHBlcnRfaWQiOm51bGwsImlzcyI6InNwb3J0c0FjdGlvbiIsImFnZW50IjoiTW96aWxsYS81LjAgKE1hY2ludG9zaDsgSW50ZWwgTWFjIE9TIFggMTBfMTRfNSkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzc3LjAuMzg2NS45MCBTYWZhcmkvNTM3LjM2IiwiaXNSZXNldFRva2VuIjpmYWxzZSwiaXNTZXNzaW9uVG9rZW4iOmZhbHNlLCJzY29wZSI6W10sImV4cCI6MTYwMTIzNjU5MiwiaWF0IjoxNTY5NzAwNTkyfQ.9L1a7DQzvaPue4bPCxeTFb2I9ueh7l0wowO4zzO5bHc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"games":[{"id":74719,"status":"scheduled","status_display":null,"start_time":"2019-10-02T00:08:00.000Z","away_team_id":208,"home_team_id":216,"winning_team_id":null,"league_name":"mlb","type":"post","season":2019,"attendance":0,"coverage":"full","is_free":false,"trending":false,"away_rotation_number":911,"home_rotation_number":912,"teams":[{"id":208,"full_name":"Milwaukee
        Brewers","display_name":"Brewers","short_name":"Brewers","location":"Milwaukee","abbr":"MIL","logo":"https://static.sprtactn.co/teamlogos/mlb/100/mil.png","primary_color":"B6922E","secondary_color":"0A2351","conference_type":"NL","division_type":"CENTRAL","standings":{"win":0,"loss":0,"ties":null,"overtime_losses":null,"draw":null}},{"id":216,"full_name":"Washington
        Nationals","display_name":"Nationals","short_name":"Nationals","location":"Washington","abbr":"WSH","logo":"https://static.sprtactn.co/teamlogos/mlb/100/wsh.png","primary_color":"AB0003","secondary_color":"11225B","conference_type":"NL","division_type":"EAST","standings":{"win":0,"loss":0,"ties":null,"overtime_losses":null,"draw":null}}],"boxscore":{"stats":{"away":{"hits":0,"runs":0,"errors":0},"home":{"hits":0,"runs":0,"errors":0}},"period":null,"pitching":{"away":{"probable_id":54572,"starting_id":null},"home":{"probable_id":4086,"starting_id":null},"win_id":null,"loss_id":null,"save_id":null},"linescore":[{"id":1,"abbr":"1","display_name":"1st","full_name":"1st
        Inning","away_points":null,"home_points":null},{"id":2,"abbr":"2","display_name":"2nd","full_name":"2nd
        Inning","away_points":null,"home_points":null},{"id":3,"abbr":"3","display_name":"3rd","full_name":"3rd
        Inning","away_points":null,"home_points":null},{"id":4,"abbr":"4","display_name":"4th","full_name":"4th
        Inning","away_points":null,"home_points":null},{"id":5,"abbr":"5","display_name":"5th","full_name":"5th
        Inning","away_points":null,"home_points":null},{"id":6,"abbr":"6","display_name":"6th","full_name":"6th
        Inning","away_points":null,"home_points":null},{"id":7,"abbr":"7","display_name":"7th","full_name":"7th
        Inning","away_points":null,"home_points":null},{"id":8,"abbr":"8","display_name":"8th","full_name":"8th
        Inning","away_points":null,"home_points":null},{"id":9,"abbr":"9","display_name":"9th","full_name":"9th
        Inning","away_points":null,"home_points":null}],"situation":{"outs":0,"balls":0,"runners":{"first":null,"third":null,"second":null},"strikes":0,"batter_id":null,"pitcher_id":null,"inning_half":null,"batter_order":null},"total_away_points":0,"total_home_points":0,"total_away_firstfive_points":0,"total_home_firstfive_points":0},"series":{"summary":"","participants":[{"record":0,"team_id":216},{"record":0,"team_id":208}]},"odds":[{"ml_away":165,"ml_home":-180,"spread_away":1.5,"spread_home":-1.5,"spread_away_line":-135,"spread_home_line":115,"over":-120,"under":100,"draw":null,"total":7.5,"away_total":3.5,"away_over":110,"away_under":-145,"home_total":4.5,"home_over":null,"home_under":-130,"ml_home_public":73,"ml_away_public":27,"spread_home_public":76,"spread_away_public":24,"total_under_public":47,"total_over_public":53,"ml_home_money":86,"ml_away_money":14,"spread_home_money":81,"spread_away_money":19,"total_over_money":82,"total_under_money":18,"num_bets":1740,"book_id":15,"type":"game","inserted":"2019-09-30T17:50:39.525179+00:00"},{"ml_away":157,"ml_home":-175,"spread_away":0.5,"spread_home":-0.5,"spread_away_line":-105,"spread_home_line":-115,"over":-105,"under":-115,"draw":null,"total":4,"away_total":null,"away_over":null,"away_under":null,"home_total":null,"home_over":null,"home_under":null,"ml_home_public":null,"ml_away_public":null,"spread_home_public":null,"spread_away_public":null,"total_under_public":null,"total_over_public":null,"ml_home_money":null,"ml_away_money":null,"spread[...]
