---
http_interactions:
- request:
    method: get
    uri: https://api.actionnetwork.com/web/v1/sharpreport/nfl?bookIds=15
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6InU9NzM1ODI2dD0xNTY5NzAwNTkyODcxIiwidXNlcl9pZCI6NzM1ODI2LCJleHBlcnRfaWQiOm51bGwsImlzcyI6InNwb3J0c0FjdGlvbiIsImFnZW50IjoiTW96aWxsYS81LjAgKE1hY2ludG9zaDsgSW50ZWwgTWFjIE9TIFggMTBfMTRfNSkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzc3LjAuMzg2NS45MCBTYWZhcmkvNTM3LjM2IiwiaXNSZXNldFRva2VuIjpmYWxzZSwiaXNTZXNzaW9uVG9rZW4iOmZhbHNlLCJzY29wZSI6W10sImV4cCI6MTYwMTIzNjU5MiwiaWF0IjoxNTY5NzAwNTkyfQ.9L1a7DQzvaPue4bPCxeTFb2I9ueh7l0wowO4zzO5bHc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"games":[{"id":68003,"status":"complete","status_display":"Final","start_time":"2019-09-27T00:20:00.000Z","away_team_id":142,"home_team_id":147,"winning_team_id":142,"league_name":"nfl","type":"reg","season":2019,"attendance":77509,"coverage":"full","is_free":false,"trending":false,"away_rotation_number":101,"home_rotation_number":102,"teams":[{"id":142,"full_name":"Philadelphia
        Eagles","display_name":"Eagles","short_name":"Eagles","location":"Philadelphia","abbr":"PHI","logo":"https://static.sprtactn.co/teamlogos/nfl/100/phi.png","primary_color":"004953","secondary_color":"A5ACAF","conference_type":"NFC","division_type":"EAST","standings":{"win":2,"loss":2,"ties":null,"overtime_losses":null,"draw":0}},{"id":147,"full_name":"Green
        Bay Packers","display_name":"Packers","short_name":"Packers","location":"Green
        Bay","abbr":"GB","logo":"https://static.sprtactn.co/teamlogos/nfl/100/gb.png","primary_color":"203731","secondary_color":"FFB612","conference_type":"NFC","division_type":"NORTH","standings":{"win":3,"loss":1,"ties":null,"overtime_losses":null,"draw":0}}],"last_play":{"text":"END
        GAME","type":"game_over","clock":"0:00","possession":142,"home_win_pct":null,"over_win_pct":1,"home_spread_win_pct":null},"boxscore":{"clock":"00:00","period":4,"linescore":[{"id":1,"abbr":"1","display_name":"1st","full_name":"1st
        Quarter","away_points":0,"home_points":7},{"id":2,"abbr":"2","display_name":"2nd","full_name":"2nd
        Quarter","away_points":21,"home_points":13},{"id":3,"abbr":"3","display_name":"3rd","full_name":"3rd
        Quarter","away_points":6,"home_points":7},{"id":4,"abbr":"4","display_name":"4th","full_name":"4th
        Quarter","away_points":7,"home_points":0}],"situation":{"down":2,"distance":11,"yardline":20,"is_redzone":false,"possession":142,"yardline_text":"PHI
        20","start_yardline":21,"yards_to_endzone":80,"display":"2nd & 11 @ PHI 20","display_short":"2nd
        & 11"},"away_timeouts":1,"home_timeouts":2,"total_away_points":34,"total_home_points":27,"total_away_firsthalf_points":21,"total_home_firsthalf_points":20,"total_away_secondhalf_points":13,"total_home_secondhalf_points":7},"odds":[{"ml_away":175,"ml_home":-200,"spread_away":3.5,"spread_home":-3.5,"spread_away_line":-110,"spread_home_line":-110,"over":-110,"under":-110,"draw":null,"total":46.5,"away_total":21.5,"away_over":-104,"away_under":-118,"home_total":25.5,"home_over":-115,"home_under":-115,"ml_home_public":57,"ml_away_public":43,"spread_home_public":66,"spread_away_public":34,"total_under_public":36,"total_over_public":64,"ml_home_money":77,"ml_away_money":23,"spread_home_money":62,"spread_away_money":38,"total_over_money":60,"total_under_money":40,"num_bets":64180,"book_id":15,"type":"game","inserted":"2019-09-27T00:21:57.164204+00:00"},{"ml_away":155,"ml_home":-180,"spread_away":3,"spread_home":-3,"spread_away_line":-110,"spread_home_line":-103,"over":-110,"under":-110,"draw":null,"total":23,"away_total":10,"away_over":-121,"away_under":-107,"home_total":13.5,"home_over":-115,"home_under":-115,"ml_home_public":null,"ml_away_public":null,"spread_home_public":74,"spread_away_public":26,"total_under_public":36,"total_over_public":64,"ml_home_money":null,"ml_away_money":null,"spread_home_money":[...]
