---
http_interactions:
- request:
    method: get
    uri: https://api.actionnetwork.com/web/v1/sharpreport/ncaaf?bookIds=15
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6InU9NzM1ODI2dD0xNTY5NzAwNTkyODcxIiwidXNlcl9pZCI6NzM1ODI2LCJleHBlcnRfaWQiOm51bGwsImlzcyI6InNwb3J0c0FjdGlvbiIsImFnZW50IjoiTW96aWxsYS81LjAgKE1hY2ludG9zaDsgSW50ZWwgTWFjIE9TIFggMTBfMTRfNSkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzc3LjAuMzg2NS45MCBTYWZhcmkvNTM3LjM2IiwiaXNSZXNldFRva2VuIjpmYWxzZSwiaXNTZXNzaW9uVG9rZW4iOmZhbHNlLCJzY29wZSI6W10sImV4cCI6MTYwMTIzNjU5MiwiaWF0IjoxNTY5NzAwNTkyfQ.9L1a7DQzvaPue4bPCxeTFb2I9ueh7l0wowO4zzO5bHc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"games":[{"id":68954,"status":"complete","status_display":"Final","start_time":"2019-09-27T00:00:00.000Z","away_team_id":278,"home_team_id":280,"winning_team_id":280,"league_name":"ncaaf","type":"reg","season":2019,"attendance":0,"coverage":"full","is_free":false,"trending":false,"away_rotation_number":103,"home_rotation_number":104,"teams":[{"id":278,"full_name":"Navy
        Midshipmen","display_name":"Navy","short_name":"Midshipmen","location":"Navy","abbr":"NAVY","logo":"https://static.sprtactn.co/teamlogos/ncaaf/100/nav.png","primary_color":"1d1756","secondary_color":"ba8b00","conference_type":"AAC","division_type":"FBS","standings":{"win":2,"loss":1,"ties":null,"overtime_losses":null,"draw":0}},{"id":280,"full_name":"Memphis
        Tigers","display_name":"Memphis","short_name":"Tigers","location":"Memphis","abbr":"MEM","logo":"https://static.sprtactn.co/teamlogos/ncaaf/100/mem.png","primary_color":"0a1691","secondary_color":"cbcbcb","conference_type":"AAC","division_type":"FBS","standings":{"win":4,"loss":0,"ties":null,"overtime_losses":null,"draw":0}}],"last_play":{"text":"End
        of Game","type":"game_over","clock":"0:00","possession":280,"home_win_pct":null,"over_win_pct":1,"home_spread_win_pct":null},"boxscore":{"clock":"00:00","period":4,"linescore":[{"id":1,"abbr":"1","display_name":"1st","full_name":"1st
        Quarter","away_points":13,"home_points":7},{"id":2,"abbr":"2","display_name":"2nd","full_name":"2nd
        Quarter","away_points":7,"home_points":7},{"id":3,"abbr":"3","display_name":"3rd","full_name":"3rd
        Quarter","away_points":0,"home_points":14},{"id":4,"abbr":"4","display_name":"4th","full_name":"4th
        Quarter","away_points":3,"home_points":7}],"situation":{"down":4,"distance":22,"yardline":18,"is_redzone":false,"possession":280,"yardline_text":"MEM
        18","start_yardline":30,"yards_to_endzone":82,"display":"4th & 22 @ MEM 18","display_short":"4th
        & 22"},"away_timeouts":2,"home_timeouts":2,"total_away_points":23,"total_home_points":35,"total_away_firsthalf_points":20,"total_home_firsthalf_points":14,"total_away_secondhalf_points":3,"total_home_secondhalf_points":21},"odds":[{"ml_away":330,"ml_home":-410,"spread_away":10.5,"spread_home":-10.5,"spread_away_line":-110,"spread_home_line":-110,"over":-110,"under":-110,"draw":null,"total":54.5,"away_total":21.5,"away_over":-105,"away_under":-120,"home_total":32.5,"home_over":-105,"home_under":-120,"ml_home_public":52,"ml_away_public":48,"spread_home_public":38,"spread_away_public":62,"total_under_public":40,"total_over_public":60,"ml_home_money":68,"ml_away_money":32,"spread_home_money":42,"spread_away_money":58,"total_over_money":46,"total_under_money":54,"num_bets":20935,"book_id":15,"type":"game","inserted":"2019-09-27T00:03:18.425064+00:00"},{"ml_away":296,"ml_home":-392,"spread_away":7,"spread_home":-7,"spread_away_line":-110,"spread_home_line":-110,"over":-110,"under":-110,"draw":null,"total":27.5,"away_total":null,"away_over":null,"away_under":null,"home_total":null,"home_over":null,"home_under":null,"ml_home_public":41,"ml_away_public":59,"spread_home_public":36,"spread_away_public":64,"total_under_public":49,"total_over_public":51,"ml_home_money":null,"ml_away_money":null,"spread_home_money":[...]
