---
http_interactions:
- request:
    method: get
    uri: https://api.actionnetwork.com/web/v1/sharpreport/ncaaf?bookIds=15
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6InU9NzM1ODI2dD0xNTY5NzAwNTkyODcxIiwidXNlcl9pZCI6NzM1ODI2LCJleHBlcnRfaWQiOm51bGwsImlzcyI6InNwb3J0c0FjdGlvbiIsImFnZW50IjoiTW96aWxsYS81LjAgKE1hY2ludG9zaDsgSW50ZWwgTWFjIE9TIFggMTBfMTRfNSkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzc3LjAuMzg2NS45MCBTYWZhcmkvNTM3LjM2IiwiaXNSZXNldFRva2VuIjpmYWxzZSwiaXNTZXNzaW9uVG9rZW4iOmZhbHNlLCJzY29wZSI6W10sImV4cCI6MTYwMTIzNjU5MiwiaWF0IjoxNTY5NzAwNTkyfQ.9L1a7DQzvaPue4bPCxeTFb2I9ueh7l0wowO4zzO5bHc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"games":[{"id":68954,"status":"complete","status_display":"Final","start_time":"2019-09-27T00:00:00.000Z","away_team_id":278,"home_team_id":280,"winning_team_id":280,"league_name":"ncaaf","type":"reg","season":2019,"attendance":0,"coverage":"full","is_free":false,"trending":false,"away_rotation_number":103,"home_rotation_number":104,"teams":[{"id":278,"full_name":"Navy
        Midshipmen","display_name":"Navy","short_name":"Midshipmen","location":"Navy","abbr":"NAVY","logo":"https://static.sprtactn.co/teamlogos/ncaaf/100/nav.png","primary_color":"1d1756","secondary_color":"ba8b00","conference_type":"AAC","division_type":"FBS","standings":{"win":2,"loss":1,"ties":null,"overtime_losses":null,"draw":0}},{"id":280,"full_name":"Memphis
        Tigers","display_name":"Memphis","short_name":"Tigers","location":"Memphis","abbr":"MEM","logo":"https://static.sprtactn.co/teamlogos/ncaaf/100/mem.png","primary_color":"0a1691","secondary_color":"cbcbcb","conference_type":"AAC","division_type":"FBS","standings":{"win":4,"loss":0,"ties":null,"overtime_losses":null,"draw":0}}],"last_play":{"text":"End
        of Game","type":"game_over","clock":"0:00","possession":280,"home_win_pct":null,"over_win_pct":1,"home_spread_win_pct":null},"boxscore":{"clock":"00:00","period":4,"linescore":[{"id":1,"abbr":"1","display_name":"1st","full_name":"1st
        Quarter","away_points":13,"home_points":7},{"id":2,"abbr":"2","display_name":"2nd","full_name":"2nd
        Quarter","away_points":7,"home_points":7},{"id":3,"abbr":"3","display_name":"3rd","full_name":"3rd
        Quarter","away_points":0,"home_points":14},{"id":4,"abbr":"4","display_name":"4th","full_name":"4th
        Quarter","away_points":3,"home_points":7}],"situation":{"down":4,"distance":22,"yardline":18,"is_redzone":false,"possession":280,"yardline_text":"MEM
        18","start_yardline":30,"yards_to_endzone":82,"display":"4th & 22 @ MEM 18","display_short":"4th
        & 22"},"away_timeouts":2,"home_timeouts":2,"total_away_points":23,"total_home_points":35,"total_away_firsthalf_points":20,"total_home_firsthalf_points":14,"total_away_secondhalf_points":3,"total_home_secondhalf_points":21},"odds":[{"ml_away":330,"ml_home":-410,"spread_away":10.5,"spread_home":-10.5,"spread_away_line":-110,"spread_home_line":-110,"over":-110,"under":-110,"draw":null,"total":54.5,"away_total":21.5,"away_over":-105,"away_under":-120,"home_total":32.5,"home_over":-105,"home_under":-120,"ml_home_public":52,"ml_away_public":48,"spread_home_public":38,"spread_away_public":62,"total_under_public":99,"total_over_public":60,"ml_home_money":68,"ml_away_money":32,"spread_home_money":42,"spread_away_money":58,"total_over_money":46,"total_under_money":54,"num_bets":20935,"book_id":15,"type":"game","inserted":"2019-09-27T00:03:18.425064+00:00"},{"ml_away":296,"ml_home":-392,"spread_away":7,"spread_home":-7,"spread_away_line":-110,"spread_home_line":-110,"over":-110,"under":-110,"draw":null,"total":27.5,"away_total":null,"away_over":null,"away_under":null,"home_total":null,"home_over":null,"home_under":null,"ml_home_public":41,"ml_away_public":59,"spread_home_public":36,"spread_away_public":64,"total_under_public":49,"total_over_public":51,"ml_home_money":null,"ml_away_money":null,"spread_home_money":[...]
- request:
    method: get
    uri: https://api.actionnetwork.com/mobile/v1/game/68954/edgesummary
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6InU9NzM1ODI2dD0xNTY5NzAwNTkyODcxIiwidXNlcl9pZCI6NzM1ODI2LCJleHBlcnRfaWQiOm51bGwsImlzcyI6InNwb3J0c0FjdGlvbiIsImFnZW50IjoiTW96aWxsYS81LjAgKE1hY2ludG9zaDsgSW50ZWwgTWFjIE9TIFggMTBfMTRfNSkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzc3LjAuMzg2NS45MCBTYWZhcmkvNTM3LjM2IiwiaXNSZXNldFRva2VuIjpmYWxzZSwiaXNTZXNzaW9uVG9rZW4iOmZhbHNlLCJzY29wZSI6W10sImV4cCI6MTYwMTIzNjU5MiwiaWF0IjoxNTY5NzAwNTkyfQ.9L1a7DQzvaPue4bPCxeTFb2I9ueh7l0wowO4zzO5bHc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"signals":{"ml":{"away":1,"home":1,"total":3,"awaySources":["Experts"],"homeSources":["Big
        Bettors"],"description":"Big Bettors have been taking {home} - Experts have
        been on the other side. "},"spread":{"away":0,"home":3,"total":3,"awaySources":[],"homeSources":["Projections","Big
        Bettors","Experts"],"description":"We see {home} getting action from Big Bettors
        and Experts.  Our Projections also lean that way at the current line."},"total":{"under":2,"over":1,"total":3,"underSources":["Big
        Bettors","Experts"],"overSources":["Projections"],"description":"We see the
        under getting action from Big Bettors and Experts.  Our Projections lean the
        over at the current line."}},"math_model":{"name":"PROJECTED LINE","away_true_line":510,"home_true_line":-510,"away_ml_value":0,"home_ml_value":0,"ml_display_value":0.5,"away_true_spread":13.7,"home_true_spread":-13.7,"away_spread_value":0.24,"home_spread_value":0.76,"spread_display_value":0.76,"true_total":60,"under_value":0,"over_value":0.85,"total_display_value":0.85,"away_score":23.15,"home_score":36.85,"away_win_p":0.164,"home_win_p":0.836},"sharp_money":{"name":"SHARP
        MONEY","ml_home_public":52,"ml_away_public":48,"ml_home_money":68,"ml_away_money":32,"ml_home_value":16,"ml_away_value":-16,"ml_display_value":0.69,"spread_home_public":38,"spread_away_public":62,"spread_home_money":42,"spread_away_money":58,"spread_home_value":4,"spread_away_value":-4,"spread_display_value":0.55,"total_over_public":60,"total_under_public":40,"total_over_money":46,"total_under_money":54,"total_over_value":-14,"total_under_value":14,"total_display_value":0.34},"experts":{"name":"EXPERTS","ml":{"away":1,"home":0,"display_value":0,"picks":[{"id":54384423,"league_name":"ncaaf","play":null,"game_id":68954,"competition_id":null,"competitor_id":null,"user_id":5428,"type":"ml_away","period":"game","side_id":278,"value":365,"odds":365,"units":0.25,"units_net":-0.25,"money":0.25,"money_net":-0.25,"units_type":"unit","result":"loss","meta":{"tease":0,"is_synced":false},"status":"settled","group_pick_id":null,"updated_at":"2019-09-27T03:16:32.223+00:00","created_at":"2019-09-26T19:36:35.785+00:00","verified":true,"tag":null,"custom_pick_type":null,"custom_pick_name":null,"custom_pick_rules":null,"settled_at":"2019-09-27T03:16:32.223+00:00","starts_at":"2019-09-27T00:00:00+00:00","ends_at":"2019-09-27T06:59:59.999+00:00","player_id":null,"profile":{"id":5428,"name":"Lauren
        Joffe"}}]},"spread":{"away":2,"home":4,"display_value":0.67,"picks":[{"id":54384422,"league_name":"ncaaf","play":null,"game_id":68954,"competition_id":null,"competitor_id":null,"user_id":5428,"type":"spread_away","period":"game","side_id":278,"value":11,"odds":-105,"units":1,"units_net":-1,"money":1,"money_net":-1,"units_type":"unit","result":"loss","meta":{"tease":0,"is_synced":false},"status":"settled","group_pick_id":null,"updated_at":"2019-09-27T03:16:32.223[...]
[...]
