---
http_interactions:
- request:
    method: get
    uri: https://www.masseyratings.com/predjson.php?dt=20170411&s=nba
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"CI":[{"title":"Date","key":"click on date to get detailed game analysis","style":"fdate","sort":393},{"stack":1,"style":"detail"},{"title":"Team","style":"fteam
        tan","sort":9},{"stack":1},{"title":"Standing","key":"sort by standing to
        show quality matchups on top","style":"frankrec burly","sort":260},{"stack":1},{"title":"Scr","key":"actual
        score","style":"fscore greybg","sort":260},{"stack":1},{"title":"Pred","key":"predicted
        score","style":"fpred","sort":260},{"stack":1},{"title":"Pwin","key":"win
        probability","style":"fpred","decimals":0,"append":" %","sort":260},{"stack":1,"decimals":0,"append":"
        %"},{"usediv":1,"title":"Margin","key":"favorite''s median margin of victory","style":"fscore","decimals":1,"sort":260},{"stack":1,"title":"B.Line","key":"Book
        line","style":"","decimals":1},{"title":"Total","key":"median of total points
        scored","style":"fscore","decimals":1,"sort":4},{"stack":1,"title":"B.O\/U","key":"Book
        over\/under","style":"","decimals":1}],"RI":[{"style":"rcNBA gstatus1"},{"style":"rcNBA
        gstatus1"},{"style":"rcNBA gstatus1"},{"style":"rcNBA gstatus1"},{"style":"rcNBA
        gstatus1"},{"style":"rcNBA gstatus1"},{"style":"rcNBA gstatus1"},{"style":"rcNBA
        gstatus1"},{"style":"rcNBA gstatus1"},{"style":"rcNBA gstatus1"},{"style":"rcNBA
        gstatus1"},{"style":"rcNBA gstatus1"},{"style":"rcNBA gstatus1"},{"style":"rcNBA
        gstatus1"},{"style":"rcNBA gstatus1"},{"style":"rcNBA gstatus1"},{"style":"rcNBA
        gstatus1"},{"style":"rcNBA gstatus1"},{"style":"rcNBA gstatus1"}],"DI":[[["Tue
        04.11","","game.php?gid=737425752","737795-4-200000-503"],["<a href=\"http:\/\/www.google.com\/cse?cx=partner-pub-0379030414683754:9954400133&ie=UTF-8&q=Oklahoma
        City Thunder 100 Minnesota Timberwolves 98 box score&sa=Search&ref=#gsc.tab=0&gsc.q=Oklahoma
        City Thunder 100 Minnesota Timberwolves 98 box score&gsc.page=1\">FINAL<\/a>","red"],["Oklahoma
        City","","team.php?s=292150&t=87660"],["@ Minnesota","","team.php?s=292150&t=15891"],["#
        12 (48-39)",[...]
