---
http_interactions:
- request:
    method: get
    uri: https://www.masseyratings.com/predjson.php?dt=20170628&s=mlb&sub=14342
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"CI":[{"title":"Date","key":"click on date to get detailed game analysis","style":"fdate","sort":393},{"stack":1,"style":"detail"},{"title":"Team","style":"fteam
        tan","sort":9},{"stack":1},{"title":"Standing","key":"sort by standing to
        show quality matchups on top","style":"frankrec burly","sort":260},{"stack":1},{"title":"Scr","key":"actual
        score","style":"fscore greybg","sort":260},{"stack":1},{"title":"Pred","key":"predicted
        score","style":"fpred","sort":260},{"stack":1},{"title":"Pwin","key":"win
        probability","style":"fpred","decimals":0,"append":" %","sort":260},{"stack":1,"decimals":0,"append":"
        %"},{"usediv":1,"title":"Margin","key":"favorite''s median margin of victory","style":"fscore","decimals":1,"sort":260},{"stack":1,"title":"B.Line","key":"Book
        line","style":"","decimals":1},{"title":"Total","key":"median of total points
        scored","style":"fscore","decimals":1,"sort":4},{"stack":1,"title":"B.O\/U","key":"Book
        over\/under","style":"","decimals":1}],"RI":[{"style":"rcMLB:MLB gstatus1"},{"style":"rcMLB:MLB
        gstatus1"},{"style":"rcMLB:MLB gstatus1"},{"style":"rcMLB:MLB gstatus1"},{"style":"rcMLB:MLB
        gstatus1"},{"style":"rcMLB:MLB gstatus1"},{"style":"rcMLB:MLB gstatus1"},{"style":"rcMLB:MLB
        gstatus1"},{"style":"rcMLB:MLB gstatus1"},{"style":"rcMLB:MLB gstatus1"},{"style":"rcMLB:MLB
        gstatus1"},{"style":"rcMLB:MLB gstatus1"},{"style":"rcMLB:MLB gstatus1"},{"style":"rcMLB:MLB
        gstatus1"},{"style":"rcMLB:MLB gstatus1"}],"DI":[[["Wed 06.28","","game.php?gid=787768977","737873-4-235900-961"],["<a
        href=\"http:\/\/www.google.com\/cse?cx=partner-pub-0379030414683754:9954400133&ie=UTF-8&q=Atlanta
        Braves 4 San Diego Padres 7 box score&sa=Search&ref=#gsc.tab=0&gsc.q=Atlanta
        Braves 4 San Diego Padres 7 box score&gsc.page=1\">FINAL<\/a>","red"],["Braves","","team.php?s=294524&t=14858"],["@
        Padres","","team.php?s=294524&t=16364"],["# 21 (72-90)","","",35],["# 24 (71-91)"],[4,"white","",7],[7,"cW[...]
