---
http_interactions:
- request:
    method: get
    uri: https://www.masseyratings.com/predjson.php?dt=20190831&s=cf&sub=11604
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"CI":[{"title":"Date","key":"click on date to get detailed game analysis","style":"fdate","sort":393},{"stack":1,"style":"detail"},{"title":"Team","style":"fteam
        tan","sort":9},{"stack":1},{"title":"Standing","key":"sort by standing to
        show quality matchups on top","style":"frankrec burly","sort":260},{"stack":1},{"title":"Scr","key":"actual
        score","style":"fscore greybg","sort":260},{"stack":1},{"title":"Pred","key":"predicted
        score","style":"fpred","sort":260},{"stack":1},{"title":"Pwin","key":"win
        probability","style":"fpred","decimals":0,"append":" %","sort":260},{"stack":1,"decimals":0,"append":"
        %"},{"usediv":1,"title":"Margin","key":"favorite''s median margin of victory","style":"fscore","decimals":1,"sort":260},{"stack":1,"title":"B.Line","key":"Book
        line","style":"","decimals":1},{"title":"Total","key":"median of total points
        scored","style":"fscore","decimals":1,"sort":4},{"stack":1,"title":"B.O\/U","key":"Book
        over\/under","style":"","decimals":1}],"RI":[{"style":"rcCF:FBS gstatus1"},{"style":"rcCF:FBS
        gstatus1"},{"style":"rcCF:FBS gstatus1"},{"style":"rcCF:FBS gstatus1"},{"style":"rcCF:FBS
        gstatus1"},{"style":"rcCF:FBS gstatus1"},{"style":"rcCF:FBS gstatus1"},{"style":"rcCF:FBS
        gstatus1"},{"style":"rcCF:FBS gstatus1"},{"style":"rcCF:FBS gstatus1"},{"style":"rcCF:FBS
        gstatus1"},{"style":"rcCF:FBS gstatus1"},{"style":"rcCF:FBS gstatus1"},{"style":"rcCF:FBS
        gstatus1"},{"style":"rcCF:FBS gstatus1"},{"style":[...]
