%div.container.medium-width
  %div.row.m-4.lead
    = link_to best_bets_path, class: 'mx-auto' do
      View past best bet data here
  %h1.list-group-item.active.text-center.rounded.mx-auto Best Bet Results
  %div.mt-5.row
    %div.col-sm.mx-auto.mb-5
      %div.row
        %table.table.mt-3
          %thead
            %tr
              %th.center-text{:scope => "col"} Correct Best Bets
              %th.center-text{:scope => "col"} Total Best Bets
              %th.center-text{:scope => "col"} Winning %
            %tbody
              %tr.top-border
                - @best_bet_games = Game.all
                %th.center-text{:scope => "row"}
                  = @best_bet_games.correct_spread_best_bets('ncaaf').count
                %th.center-text{:scope => "row"}
                  = @best_bet_games.best_bets('ncaaf').count
                %th.center-text{:scope => "row"}
                  =  (@best_bet_games.correct_spread_best_bets('ncaaf').count.to_f/ @best_bet_games.best_bets('ncaaf').count.to_f).round(2)
  %div.row.list-group.list-flush.mx-auto
    %div.col.mx-auto.mt-3
      %h1.list-group-item.active.rounded.p-4 What is CheckTheLines?
      %p.lead.m-4 CheckTheLines is a side-project that pulls in different information from across the web to try to predict the correct side for NCAA and NFL football games.
    %div.col.mx-auto.mt-3
      %h1.list-group-item.active.rounded.p-4 What is a <em>Best Bet</em>?
      %p.lead.m-4 A bet is classified as a <em>Best Bet</em> based on the calculated strength of the bet
    %div.col.mx-auto.mt-3
      %h1.list-group-item.active.p-4.rounded How is the bet strength calculated?
      %div.container
        %p.row.list-group.list-group-flush
          %div.col.mx-auto.mt-3
            %p.lead.list-group-item.p-3 Public Percentage
            %p.lead.m-4 Picks that have a smaller percentage of public money are scored higher since it is proved betting against the public is profitable.
          %div.col.mx-auto.mt-3
            %p.lead.list-group-item.p-3 Line Discrepancy
            %p.lead.m-4 Using data from <a href="https://masseyratings.com">MasseyRatings</a> the expected line is compared to the betting line. The larger the discrepancy the stronger the score.
          %div.col.mx-auto.mt-3
            %p.lead.list-group-item.p-3 Reverse Line Movement
            %p.lead.m-4 Reverse Line Move indicators are triggered when the betting line moves in the opposite direction of the public betting percentages, which is an excellent indicator of sharp money. The Action Network highlights the RLMs with the most value.

    %div.p-4.mb-4
      %h3 Open Source
      %p.lead This is an open source project which is hosted on <a href="https://github.com/mjrode/check_the_lines">GitHub</a>