%h1.center Check The Lines

= link_to "Best Bets", best_bets_games_path, class: "btn"
= link_to "This Weeks Data", unplayed_games_path, class: "btn"
= link_to "Past Picks", played_games_path, class: 'btn'


