%h1.center Check The Lines

= link_to "This Weeks Best Bets", best_bets_games_path, class: "btn"
= link_to "This Weeks Data", unplayed_games_path, class: "btn"


= link_to "Past Best Bets", played_games_path, class: 'btn'
= link_to "Past Data", played_games_path, class: 'btn'



