/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "font-awesome";
@import "bootstrap";
@import 'daterangepicker';
@import 'rails_bootstrap_forms';

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 1.2em;
    background: #eee;
  }
}
.padding-top-5{
	padding-top: 6em;
}
.form-width-25{
	width: 25%;

	margin-bottom: 0.5em;
}
.form-text-size {
  font-size: 1.2em;
}
.padding-1{
  padding: 1em;
}
.gray{
	color: gray;
}
.center-text{
	text-align: center;
}
.alt-image{
  height: 8%;
}

.border-black{
	border: 1px solid;
}
.question-button{
  float: left;
	margin-left: .25em;
}
.strength-button{
}
.white-table{
	background: white;
}

.table {

    margin-top: 4em;
}

.center{
  text-align: center;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.circles{
  border: solid;
}
.clear{
	clear: both;
}

.public{
  width: 15%;
}
.light-border-bottom{
  border-top: 1px solid #dee2e6 !important;
}

.public-mobile{
  width: 35%;
}
.border{
	border: 1px solid;
	background-color: rgba(158, 158, 158, 0.33);
}

.rounded-list{
  border-radius: 4em !important;
  background-color: #2cca4794 !important;
  border-color: #2cca4794 !important;
}
.half-width{
  width: 50%;
  display: block;
  margin: 0 auto;
}
.marg-right{
  margin-right: 5px;
}
.custom-home-row{
  width: 100%;
  margin: 5px auto;
  display: block;
  height: 20em;
  /*background-color: white;*/
}
.quarter-width{
  width: 25%;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

.links{
  font-size: 5em;
}
.big-font{
  font-family: 'Russo One', sans-serif;
}
.iamhuge{
  font-size: 8em;
}
.white{
  color: black;
}
.top-bar .custom{
  background-color: #FFFFFF;;
}
.menu>li>a{
  color: black;
}
.menu>li>a:hover{
  color: gray;
  background-color: #D5FAFF;
}
.header-font{
  font-family: 'Proza Libre', sans-serif;
}

.secondary-font{
  font-family: 'Open Sans Condensed', sans-serif;
}

.alt-font{
  font-family: 'Amatic SC', cursive;
}

.home-buttons{
  margin-bottom: 1em;
  background-color:  #DE1B1B;
}

.center-all{
  display: block;
  margin: auto auto;
  text-align: center;
}
.margin-bottom{
  margin-bottom: 2em;
}
.bold{
  font-weight: 900;
}

.bigger{
  font-size: 1.5em;
}
.margin-top-4{
	margin-top: 4em;
	width: 25%;
}
.remove-border{
  border-top: none;
}
.space{
  height: 2em;
}

.skills {
    text-align: right; /* Right-align text */
    padding: 5px; /* Add some padding */
    color: white; /* White text color */
}

.html {width: var(--width); background-color: #4CAF50;} /* Green */

.two-em{
  height: 2em;
  border-top: none !important;
}
img{
  height: 30%;
}

.bottom-border{
  border-bottom: black solid;
}

.top-border{
  border-top: black solid;
}

.correct-pick{
  background-color: green;
  border-radius: 12em;
}

.logo-width{
  width: 6%;
}


.logo-width-ncaaf{
  width: 10%;
}

.medium-width{
  max-width: 900px;
}