/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
//= require foundation_and_overrides

 */

.center{
  text-align: center
}

.half-width{
  width: 50%;
  display: block;
  margin: 0 auto;
}
.marg-right{
  margin-right: 5px;
}
.custom-home-row{
  width: 100%;
  margin: 5px auto;
  display: block;
  height: 20em;
  /*background-color: white;*/
}
.quarter-width{
  width: 25%;
  display: block;
  margin: 0 auto;
}

.links{
  font-size: 5em;
}
.big-font{
  font-family: 'Russo One', sans-serif;
}
.white{
  color: #F6F6F6;
}
.top-bar .custom{
  background-color: #FFFFFF;;
}
.menu>li>a{
  color: black;
}
.menu>li>a:hover{
  color: gray;
  background-color: #D5FAFF;
}
.header-font{
  font-family: 'Proza Libre', sans-serif;
}

.secondary-font{
  font-family: 'Open Sans Condensed', sans-serif;
}

.alt-font{
  font-family: 'Amatic SC', cursive;
}

.home-buttons{
  margin-bottom: 1em;
  background-color:  #DE1B1B;
}
body{
  background-color: rgba(43, 43, 43, 0.6);
  background-size: 80%;
  height: 50%;
  background-repeat: no-repeat;
}

.center-all{
  display: block;
  margin: auto auto;
  text-align: center;
}
