%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  =link_to "Home",  root_path, class: 'navbar-brand'

  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        =link_to ncaaf_path, class: 'nav-link' do
          Games
          %span.sr-only (current)
      %li.nav-item
      =link_to best_bets_path, class: 'nav-link' do
        Best Bets
        %span.sr-only (current)

      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Other
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          =link_to refresh_sports_path, class: 'dropdown-item' do
            Refresh
          =link_to ncaaf_sports_path, class: 'dropdown-item' do
            Games
          .dropdown-divider
          =link_to best_bets_path, class: 'dropdown-item' do
            Best Bets
