%nav.navbar.navbar-light.bg-faded
  .nav.navbar-nav
    %a.nav-item.navbar-brand
      =link_to "Home", root_path
    %a.nav-item.navbar-brand
      =link_to "NFL", nfl_path
    -# %nav-item.nav-link.float-xs-right
    %nav-item.nav-link.float-xs-right
      =link_to "NCAAF", ncaaf_path
