%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  =link_to "Home",  root_path, class: 'navbar-brand'
  %nav.nav-item
    =link_to root_path, class: 'nav-link' do
      %span.sr-only (current)
  %nav.nav-item
  =link_to best_bets_games_path, class: 'nav-link' do
    Best Bets
    %span.sr-only (current)
